/* Root Styling */
:root {
  --background: #000000; /* Black background */
  --text: #ffffff; /* White text */
  --primary: #db0000; /* Netflix Red */
  --secondary: #564d4d; /* Dark Grey */
  --accent: #831010; /* Dark Red */
  --font-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Primary font */
  --font-secondary: 'Arial', sans-serif; /* Fallback font for other text */
}
  